# Folders
PESDT_addon-master/build
PESDT_addon-master/cherab_PESDT_addon.egg-info
PESDTCache/*
__pycache__
scratch/
scratch.py
tallyplot/
read_idl_tally.py
pesdt_venv
users/*
dep_src/*
*.egg-info/
# Files
*.pyc
*.npy
*~
*.c
*.cpp
*.lock
*.gpr
*.rep
*.nc
fort.*
intal*
outtal*
!users/README_USERS.MD
!dep_src/README_DEP.MD
!PESDTCache/readme.md
!test_cases/solps/runD_2.2MW_1.6e19_JET/fort.44