# Folders
PESDT_addon-master/build
PESDT_addon-master/cherab_PESDT_addon.egg-info
__pycache__
scratch/
scratch.py
tallyplot/
read_idl_tally.py
pesdt-env
users/*
dep_src/*
# Files
*.pyc
*.npy
*~
*.c
*.nc
fort.*
intal*
outtal*
!users/README_USERS.MD
!dep_src/README_DEP.MD